body {
  margin: 0;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.3rem;
}

h1{
  margin-top: 50px;
  font-size: 5.3rem;
  color: salmon;
}
h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  color: #11999E;
}
a{
  color: #11999E;
}

.top-content{
  background-color:#E4F9F5;
  position: relative;
  padding-top: 100px;

}
.middle-content{
  font-family: 'Patrick Hand', cursive;
}
.bot-content{
  background-color: #66BFBF;
  padding: 20px 0 20px 0;
}
.footer-link{
  color: #FAFDD6;
  text-decoration: none;
  padding: 5px;
  font-size: 1.5rem;
}
.profile-pic{
  width:250px;
}
.web-pic{
  width: 20%;
  float: left;
  padding-right: 30px;
}
.work-pic{
  width: 20%;
  float: right;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bot-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.mid-cloud{
  position: absolute;
  top: 270px;
  left: auto;
}
.skill-row{
  width: 50%;
  position: relative;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
hr{
  clear:both;
  border-style: dotted none none;
  width: 5%;
  border-width: 5px;
  color: #EAF6F6;
}
 .btn{
   background-color: #66BFBF;
   color: #EAF6F6;
   padding: 10px;
   border-radius: 8px;
   border: none;
   text-decoration: none;
   display:inline-block;
   margin-top: 20px;
 }

 .btn:active {
   background-color: #EAF6F6;
   color: salmon;
 }
.btn:hover{
   background-color: #EAF6F6;
   color: #66BFBF;
}
.credit{
  color: #EAF6F6;
}
.contact-me{
  margin-bottom: 80px;
}
